<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/style">
</head>
<html>
    <body>
        <div class="container">
            <a href="/images/1"><img src="/images/1.png"></a>
            <a href="/images/2"><img src="/images/2.png"></a>
            <a href="/images/3"><img src="/images/3.png"></a>
        </div>
    </body>
</html>