<!DOCTYPE html>
<head>
    <title>Image 2</title>
    <link rel="stylesheet" href="/style">
</head>
<html>
    <body>
        <button class="button"><a href="/home">Back</a></button>
        <div class="imageContainer">
            <img class="fullsize" src="/images/2.png">
        </div>
    </body>
</html>